<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Enterasys UI - Sistema de gerencimamento de switches Enterasys</title>
	@vite(['resources/css/app.css', 'resources/js/app.js'])
</head>

<body id="app" class="flex flex-col">
	@include('layouts/header')
	@include('layouts/sidebar')
	<div class="sm:ml-64 mt-14 grow">
		<main id="app-content">
			@if (partialHtmx)
				@include(partialHtmx)
			@else
				{{-- <p>O conteúdo padrão da pagina inicial</p> --}}
				@include(home)
			@endif		
		</main>
	</div>
	@include('layouts/footer')
</body>

</html>